
.app {
  text-align: center
}

.title {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

.logo {
  height: 70%;
  width: 70%;
}

.navButton{
  height: 80%;
  width: 80%
  height: 20%;
  width: 20%;
}

.map {
  padding-left: 25%;
}

.menu {
  position:fixed;
	bottom:0;
	left:0;
	right:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ghostwhite;
}

.menu > div {
  width: 100px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  line-height: 25px;
}

.buttons {
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: ghostwhite;
  outline: none;
}

.buttons:hover {
  background-color: rgba(204, 210, 216, 0.781);
  border-radius: 10px;
}

.App {
  height: 100vh;
}

@media screen and (max-width: 600px) {
  footer.menu {
    /* margin: 10px 0px 10px 0px; */
    text-align: center;
    line-height: 25px;  }

  .logo {
    width: 50%;
  }
}
