.app {
  text-align: center
}

.title {
  text-align: center;
}
.map {
  padding-left: 25%;
}

.menu {
  position:fixed;
	bottom:0;
	left:0;
	right:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ghostwhite;
}

.menu > div {
  width: 100px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  line-height: 25px;
}

.buttons {
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: ghostwhite;

}
